nav {
    background-color: grey;
    width: 100%;
    height: 50px;
    text-align: right;
}

.logo {
    width: 5%;
    float: left;
}

a {
    text-decoration: none;
    font-family: Calibri Light;
    color: black;
}

a:hover {
    color: white;
}


body {
    margin: 0px;
    padding: 0px;
}